.App {
  width: 100vw;
  min-height: 100vh;

  text-align: center;

  display: grid;
  place-items: center;
}

#quote-box {
  max-width: 30em;
  box-shadow: #282c34 0 0 5em;

  padding: 2em;
  border-radius: 1em;
}

#text {
  font-size: 1.25em;
}

#author {
  text-align: right;
}

#new-quote {
  margin: 2em 0;
  transform: scale(1.25);
}